* {
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: white;
}

.mainContainer {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(circle,
			rgba(174, 237, 238, 1) 28%,
			rgba(148, 187, 233, 1) 100%);
}

.container {
	height: 40vh;
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: rgba(87, 151, 170, 0.678);
	box-shadow: 0px 0px 10px 11px rgba(148, 148, 148, 0.34);
	-webkit-box-shadow: 0px 0px 10px 11px rgba(148, 148, 148, 0.34);
	-moz-box-shadow: 0px 0px 10px 11px rgba(148, 148, 148, 0.34);
}

.displayBox {
	height: auto;
	background-color: rgb(75, 75, 70);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	gap: 10px;
	padding: 5px;
}

.innerBox {
	display: flex;
	justify-content: end;
	width: 100%;
}
.currentBox{
	font-weight: bold;
}
.previousBox{
	color: rgba(255, 255, 255, 0.87);
}
.buttonBox{
	height: 100%;
	width: 100%;
	background-color: rgba(162, 177, 180, 0.795);
	display: grid;
	grid-template-areas: 
	'twice_span twice_span del_span mul_span'
	'seven_span eight_span nine_span div_span'
	'four_span five_span six_span sub_span'
	'one_span two_span three_span minus_span'
	'zero_span dot_span equalSign equalSign';
	gap: 3px;
}
button{
	color: black;
	border-radius: 2px;
}
button:hover{
	background-color: rgba(0, 0, 0, 0.322);
	color: white;
}
.allClear{
	width: 100%;
	grid-column: twice_span;
}
.equalSign{
	width: 100%;
	grid-column: equalSign;
}